#### Conventional if_else

In [4]:
num = 6
if num %2 == 0:
    print("even")
else:
    print("odd")

even

In [3]:
num = 6
print("even") if num%2 == 0 else print("odd")

even

In [4]:
x = 10
result = "Postive" if x > 0 else "Negative"
print(result)

Postive

In [5]:
age = 18
category = "Adult" if age >= 18 else "Minor" 
print(category)

Adult

In [1]:
num = int(input("Enter a number: "))
result = "Postive" if num>0 else ("Negative" if num < 0 else "Zero")
print(result)

Enter a number: 0
Zero

#### List Comprehension

In [2]:
L =[1,9,2,10,56,89]
[2*x for x in L]

[2, 18, 4, 20, 112, 178]

In [3]:
L =[1,9,2,10,56,89]
[x for x in L if x%2 == 0]

[2, 10, 56]

In [7]:
L =[1,9,2,10,56,89,57,65]
[x for x in L if x%2 != 0]

[1, 9, 89, 57, 65]

In [14]:
#print updated salaries
#Condition is give 20% hike for less <=500000
#Salaries = 50000
sal = [40000,60000,80000,45000]
[(x*1.2 if x<=50000 else x) for x in sal]

[48000.0, 60000, 80000, 54000.0]

In [15]:
#Dictonary comprehension
d1 = {'Ram':[70,71,98,100], 'Jhon':[56,98,67,65]}
d1

{'Ram': [70, 71, 98, 100], 'Jhon': [56, 98, 67, 65]}

In [16]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'Jhon': 71.5}

In [1]:
#Define fuction (reusable
def mean_value(given_list):
    total = sum(given_list)
    average_value = total/len(given_list)
    return average_value

In [3]:
L= [1,2,3,4,5,6,7,8,9,10]
mean_value(L)

5.5

In [7]:
L= [1,2,3,4,5,6,7,8,9,10]
mean_value(L)

5.5

In [18]:
def goodmoring(name):
    return ("HELLO! "+ name+"  Good Morning")

In [20]:
goodmoring("THALA")

'HELLO! THALA  Good Morning'

In [21]:
def avg_value(*n):
    l = len(n)
    average = sum(n)/1
    return average

In [22]:
avg_value(10,20,30,40,50,60,80,100)

390.0